@font-face {
  font-family: wednesday;
  src: url(./font/wednesday/lost.leonenst-bold.otf);
}
@font-face {
  font-family: moon;
  src: url(font/moon/Moon\ Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dc33ac;
  color: #fff;
  font-family: moon;
 
  overflow-x: hidden;
}
/* start header */
header {
  background: url(img/bg-header.png) no-repeat 100%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 46rem;
  /* border-image: fill 0 linear-gradient(#5a1da9, #230063 80% ); */
  /* opacity: 0.5; */
  position: absolute;
}
/* start menu */
.menu {
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu-info {
  position: relative;
  display: block;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 900;
  color: #591da9;
  text-decoration: none;
  text-align: center;
}
.menu-info:hover {
  color: #230063;
  border-bottom: 3px solid #591da9;
}

/* end menu */

.text-header {
  font-family: wednesday;
  font-size: 1.6rem;
  font-weight: 800;
  width: 18rem;
  height: 15rem;
  margin-left: 40rem;
  margin-top: 22rem;
  text-shadow: 5px 5px 15px #591da9;
}
.text-header-info {
  font-family: moon;
  font-size: 0.6rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.header-info1,
.header-info2,
.header-info3 {
  width: 4rem;
  border-right: 3px solid #fff;
}

.text-info-header {
  font-family: moon;
  font-size: 0.9rem;
  margin-top: 2rem;
  padding: 1rem;
}
.btn1 {
  background: linear-gradient(#591da9, #230063 70%);
  color: #fff;
  font-size: 0.9rem;
  width: 7rem;
  height: 1.8rem;
  border-radius: 0 0.5rem 0;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn2 {
  background: linear-gradient(#591da9, #230063 70%);
  color: #fff;
  font-size: 0.9rem;
  width: 7rem;
  height: 1.8rem;
  border-radius: 0.5rem 0 0.5rem;
  margin-left: 2.2rem;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn1:hover,
.btn2:hover {
  background: #fff;
  color: #591da9;
  transform: scale(1.1);
}
/* end header */


/* start main */
.main{
  position: relative;
  top: 46rem;
  width: 100%;
  height: 30rem;

}
.slider{
  display: grid;
  grid-template-columns: auto;
  background-color: #f55332;
  height: 30rem;
  margin-bottom: 0;
}
.intro_artists1{
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: rgb(8, 8, 8);
  position: absolute;
}
.img_artists{
  background: linear-gradient(#070608, #05000d 70%);
height: 40rem;
display: flex;
flex-direction:column ;
align-items: center;
padding: 1rem;
}
.img_actor1{
  width :9rem;
  height: 9rem;
  border-radius: 5rem;
  margin: 1rem;
  cursor: pointer;
}
.img_actor2{
  width : 9rem;
  height: 8rem;
  border-radius: 5rem;
  margin: 1rem;
  cursor: pointer;

}
.img_actor3{
  width : 8rem;
  height: 8rem;
  border-radius: 5rem;
  margin: 1rem;
  cursor: pointer;

}
.img_actor4{
  width : 8rem;
  height:8rem;
  border-radius: 5rem;
  margin: 1rem;
  cursor: pointer;

}
.img_actor1:hover , .img_actor2:hover , .img_actor3:hover ,.img_actor4:hover{
  border:4px solid rgb(235, 8, 136) ;
  transform: scale(1.1);
  transition: 0.8s;
}
.info_artists{
padding-top: 4rem;
padding-left: 4rem;
padding-right: 4rem;
}
.info__artists1{
  width: 90%;
  height: 30rem;
background-color: #302e2e;
border: 5px solid rgb(193, 63, 160);
border-radius: 1rem;
padding: 1rem;
}
.info_artists1{
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
 
}
.info_artists2{
  
}
.discription{
  display: flex;
  flex-direction: row;
}
.dir{

}
.name_actor{
font-size:2rem;
margin: 2rem;
}
.about_actor{
margin: 1rem;
}

.fa-brands{
  color: white;
}

/* end main */



/* start footer */

.footer{
 background-color: #cb6279;
position: relative;
top:86rem;
width: 100%;
height:20rem ;
}
/* end footer */