@font-face {
  font-family: wednesday;
  src: url(./font/wednesday/lost.leonenst-bold.otf);
}
@font-face {
  font-family: moon;
  src: url(font/moon/PlayfairDisplay-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
border-color: black;
color: white;
}
html{
  background-color: #070105;
}
/* start header */
header {
  background: url(img/bg-header.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 46rem;
  position: absolute;
}
/* start menu */
.menu {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  margin-left: 10rem;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu-info {
  position: relative;
  display: block;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 900;
  color: #ffff;
  text-decoration: none;
  text-align: center;
}
.menu-info:hover {
  color: #591da9;
  border-bottom: 3px solid #591da9;
}
.search {
  width: 12rem;
  height: 2rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.search-label {
  position: absolute;
  z-index: 1;
}
.fa-magnifying-glass {
  background: linear-gradient(to right, #591da9, #230063 70%);
  width: 3rem;
  height: 2rem;
  border-radius: 0 5rem 5rem 0;
  margin-left: -2.9rem;
  position: absolute;
  z-index: 2;
  padding-top: 0.5rem;
}
.logo-header {
  margin-left: 3rem;
  margin-top: -6rem;
}
.logo {
  width: 5rem;
  height:3rem;
  margin: 2rem;
}

/* end menu */

.text-header {
  font-family: wednesday;
  font-size: 1.8rem;
  font-weight: 800;
  width: 20rem;
  height: 15rem;
  margin-left: 18rem;
  margin-top: 15rem;
  text-shadow: 5px 5px 15px #591da9;
  /* z-index: 2; */
}
.text-header-info {
  font-family: moon;
  font-size: 0.8rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1.8rem;
  margin-top: 1.5rem;
}
.header-info1,
.header-info2,
.header-info3 {
  width: 4rem;
  border-right: 3px solid #fff;
}

.text-info-header {
  font-family: moon;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}
.btn-header {
  margin-top: 2rem;
  margin-left: 1rem;
}
.btn1 {
  font-family: moon;
  background: linear-gradient(to right, #591da9, #230063 70%);
  color: #fff;
  font-size: 0.9rem;
  width:7rem;
  height: 1.8rem;
  border-radius: 0 0.5rem 0;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 0.3rem;
}
.btn2 {
  font-family: moon;
display: inline-block;
  background: linear-gradient(to left, #591da9, #230063 70%);
  color: #fff;
  font-size: 0.9rem;
  width: 7rem;
  height: 1.8rem;
  border-radius: 0.5rem 0 0.5rem;
  margin-left: 2.2rem;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 10px #fff;
  text-decoration: none;
  padding-top: 0.3rem;
}
.btn1:hover,
.btn2:hover {
  background: #fff;
  color: #591da9;
  transform: scale(1.1);
}
/* end header */

/* start main */
.main {
  position: relative;
  top: 46rem;
  width: 100%;
  height: 30rem;
}
.movie__info{
  display: grid;
  grid-template-columns: auto;
  background-color: black;
  height: 45rem;
  margin-bottom: 0;
}
.info-movie {
  width: 100%;
}
.design {
  position: relative;
  width: 15rem;
  height: 45.5rem;
  background: linear-gradient(
    109.6deg,
    rgba(12, 5, 110, 0.5) 11.2%,
    rgba(180, 54, 226, 0.5) 91.1%
  );
  margin-left: 68rem;
  border-radius: 5rem 0 5rem 0;
}
.circle {
  position: absolute;
  width: 23rem;
  height: 23rem;
  background: linear-gradient(
    109.6deg,
    rgba(12, 5, 110, 1) 11.2%,
    rgba(180, 54, 226, 1) 91.1%
  );
  border-radius: 50%;
  margin-top: 8rem;
  margin-left: -3.5rem;
  box-shadow: 5px 5px 20px #591da9;
  transition: all 0.4s;
}
.circle:hover {
  transform: scale(1.1);
}

.img__wednesday{
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  border: 2px dashed #fff;
}

.titel-info-movie {
  position: absolute;
  margin-top: -40rem;
  margin-left: 14rem;
  font-size: 2rem;
  font-family: wednesday;
}

.text-info-movie {
  position: absolute;
  width: 30rem;
  margin-top: -30rem;
  margin-left: 10rem;
}

.about-movie-1 {
  width: 30rem;
  height: 12rem;
  margin-top: -14rem;
  margin-left: 10rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.about-movie-2 {
  width: 30rem;
  height: 8rem;
  margin-top: -8rem;
  margin-left: 10rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.info-about-movie {
  width: 8rem;
  height: 2rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  border-left: 4px solid #591da9;
}

.info-about-movie h5 {
  opacity: 0.4;
  font-size: 0.8rem;
}
.intro_artists1 {
  backdrop-filter: blur(6px);
  background-color: #070105;
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: rgb(0, 0, 0);
  position: absolute;
  padding: 2rem;
}
.casts_m{
  width: 7rem;
  height: 3rem;
  padding-right: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 0.8rem;
  border-left:5px solid #0b0605;
  margin-left: 1rem;
  padding-bottom: 0.4rem;
}
.casts{
  font-size: 2rem;
font-family: ;
}
.img_artists {
 
  height: 44rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top:10rem;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-bottom:0.2rem;
  border-left: 5px ;
}
.name_photo{
  display: flex;
  font-size: 1.6rem;
  color: #070105;
}
.name_a{
  margin-top: 1rem;
  font-size:1.3rem;
  color: white;
  text-shadow: 5px 5px 5px rgb(163, 63, 152);
  margin-bottom: 4px;
}
.name__fact{
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  color: white;
}
.name__fake{
  font-size: 1rem;
}
.img_actor1 {
  width: 8rem;
  height: 7.5rem;
  border-radius: 5rem;
  margin: 0.8rem;
  cursor: pointer;
  border: 3px solid rgb(239, 229, 229);
  outline: 5px dashed blueviolet;
}
.img_actor2 {
  width: 8rem;
  height: 7.5rem;
  border-radius: 5rem;
  margin: 0.8rem;
  cursor: pointer;
  border: 3px solid rgb(239, 229, 229);
  outline: 5px dashed blueviolet;
  /* box-shadow: 2px 3px rgb(63, 61, 61); */
}
.img_actor3 {
  width: 8rem;
  height: 7.5rem;
  border-radius: 6rem;
  margin: 0.8rem;
  cursor: pointer;
  border: 3px solid rgb(239, 229, 229);
  outline: 5px dashed blueviolet;
}
.img_actor4 {
  width: 8rem;
  height: 7.5rem;
  border-radius: 5rem;
  margin: 0.8rem;
  cursor: pointer;
  border: 3px solid rgb(239, 229, 229);
  outline: 5px dashed blueviolet;
}
.img_actor1:hover,
.img_actor2:hover,
.img_actor3:hover,
.img_actor4:hover {
  border: 4px solid rgb(122, 40, 142);
  transform: scale(1.1);
  transition: 0.8s;
}
.info_artists {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.info__artists1 {
  width: 90%;
  height: 30rem;
  background-color: #302e2e;
  border: 5px solid rgb(193, 63, 160);
  border-radius: 1rem;
  padding: 1rem;
}
.info_artists1 {
  padding-top:3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
}

.discription {
  display: flex;
  flex-direction: row;
  /* border: 3px solid black; */
  border-radius: 4rem;
}
.my_artist{
  font-family: wednesday;
  font-weight: bold;
  padding-top: 2rem;
  font-size: 3rem;
 
  padding-left: 10rem;
}
.name_actor {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 6rem;
  text-align: center;
  font-weight: bold;
  font-family: wednesday;
}

.about_actor {

  margin: 1rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.fa-brands {
  color: white;
}
.image__actor{
  float: right;
}
.hidden{
  width: 18rem;
  height: 16rem;
}
.ab_actor{
  width: 50rem;
  height: 2rem;
  text-align: center;
  font-size: 2rem;

}
.image___actor{
  height: 15rem;
}
.image-4{
  /* background: linear-gradient(109.6deg, rgba(94, 5, 110, 0.5) 11.2%, rgba(180, 54, 226, 0.5) 91.1%); */
  width: 18rem;
  background: radial-gradient( rgba(66, 8, 76, 0.5) 11.2%, rgba(158, 41, 201, 0.5));
  height: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
 padding-top: 5rem;
 padding-left: 5rem;
 text-align: center;
 border-top-right-radius: 8rem;
 border-top-left-radius: 8rem;
 outline: 10px dashed;
 outline-color:blueviolet;
}

/* end main */

/* start footer */

footer {
  width: 100%;
  position: relative;
  top: 113rem;
  background: linear-gradient( #692abd, #210654);
  color: #fff;
  padding: 2rem 0 1rem;
  border-top-left-radius: 12.5rem;
  font-size: 1rem;
  line-height: 2rem;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}
.col {
  flex-basis: 25%;
  padding: 1rem;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo-footer {
  width: 8rem;
}
.col h3 {
  width: fit-content;
  margin-bottom: 3rem;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
}
.col h1 {
  font-size: 1.2rem;
}
.col > ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}
.col > ul li a {
  text-decoration: none;
  color: #fff;
}

form {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
form .fa-envelope {
  font-size: 1.8rem;
  margin-right: 1rem;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa-arrow-right {
  font-style: 1.6rem;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.social-icons .fa-facebook-f {
  background: #0400ff;
  color: #fff;
  transition: all 1s;
}
.social-icons .fa-facebook-f:hover {
  background: #fff;
  color: #0400ff;
  transform: scale(1.3);
}

.social-icons .fa-whatsapp {
  background: #07a91a;
  color: #fff;
  transition: all 1s;
}
.social-icons .fa-whatsapp:hover {
  background: #fff;
  color: #07a91a;
  transform: scale(1.3);
}

.social-icons .fa-pinterest {
  background: #9b1414;
  color: #fff;
  transition: all 1s;
}
.social-icons .fa-pinterest:hover {
  background: #fff;
  color: #9b1414;
  transform: scale(1.3);
}

.social-icons .fa-twitter {
  background: #0088ff;
  color: #fff;
  transition: all 1s;
}
.social-icons .fa-twitter:hover {
  background: #fff;
  color: #0088ff;
  transform: scale(1.3);
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}
.copyright {
  text-align: center;
  font-size: 0.8rem;
}
.underline {
  width: 5rem;
  height: 0.3rem;
  background: #767676;
  border-radius: 0.3rem;
  position: absolute;
  overflow: hidden;
}
.underline span {
  width: 1.5rem;
  height: 100%;
  background: #fff;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -2rem;
  }
  100% {
    left: 100%;
  }
}
/* end footer */
